---
import { getCollection } from "astro:content";
import Nav from '../../components/Nav.astro';

const posts = await getCollection("blog");

---
<Nav />
<h1>Blog</h1>

<div class="blog-list">
  {posts.map(post => (
    <a class="blog-card" href={`/blog/${post.slug}`}>
      <h2>{post.data.title}</h2>
      <p>{post.data.description}</p>
      <small>{post.data.date.toDateString()}</small>
    </a>
  ))}
</div>