---
import "../styles/global.css";
---

<footer class="footer">
    <span class="footer-left">hawanatamang@gmail.com · Bhaktapur, Nepal</span>
    <div class="footer-links">
      <a href="https://github.com/tamanghawana09">GitHub</a>
      <a href="https://www.linkedin.com/in/hawana0911/">LinkedIn</a>
      <a href="/src/assets/Hawana_CV.pdf">Resume</a>
    </div>
  </footer>