---
import "../styles/global.css";
---

<nav>
    <nav class="nav">
    <span class="logo">HT<span>.</span></span>
    <div class="nav-links">
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</nav>